const env = process.env.NODE_ENV || 'production'
//git clone https://github.com/zoom/zoom-api-jwt.git
//insert your API Key & Secret for each environment, keep this file local and never push it to a public repo for security purposes.
const config = {
	development: {
		APIKey: 'Your API Key',
		APISecret: 'Your API Secret',
	},
	production: {
		APIKey: 'Your API Key',
		APISecret: 'Your API Secret',
	}
};

module.exports = config[env]
